[Unit]
Description=NVIDIA GPU Tray Indicator
Documentation=https://github.com/chenxiex/nvtray
After=graphical-session.target

[Service]
Type=simple
ExecStart=/usr/bin/nvtray
Restart=on-failure
RestartSec=5

[Install]
WantedBy=default.target
